{% extends 'index.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="input-field col s8">
      <input id="search_bar" type="text" class="validate" />
      <label for="search_bar">Search</label>
    </div>
    <table class="highlight centered">
      <thead>
        <tr>
          <th>Content</th>
          <th>Category</th>
          <th>Reviewed</th>
          <th>Modified at</th>
          <th>Added at</th>
          <th><a class="waves-effect waves-light btn purple accent-4" href="form_add">+</a></th>
        </tr>
      </thead>

      <tbody>
        {% for entry in data %}
        <tr>
          <td>{{entry.content}}</td>
          <td>{{entry.category}}</td>
          <td>{{entry.is_reviewed}}</td>
          <td>{{entry.updated}}</td>
          <td>{{entry.created}} {% endfor %}</td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <!-- Needs to handle for big data sets (to limit the number of pagination page)-->
    <ul class="pagination center">
      {% if data.has_previous %}
      <li class="waves-effect">
        <a href="?page={{ data.previous_page_number }}"><i class="material-icons"><</i></a>
      </li>
      {% endif %} {% for page in data.paginator.page_range %} {% if page == data.number %}
      <li class="active purple lighten-2"><a href="?page={{ page }}">{{page}}</a></li>
      {% else %}
      <li class="waves-effect"><a href="?page={{ page }}">{{page}}</a></li>
      {% endif %} {% endfor %} {% if data.has_next %}
      <li class="waves-effect">
        <a href="?page={{data.next_page_number}}"><i class="material-icons">></i></a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
