{% extends 'index.html' %}

{% block content %}
  <!-- Card Section Starts -->
<div class="container flex-center">
  <div class="row">
    <div class="col s6">
        <a href="submission_portal/">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Data Submission Portal</span>
          <p>Click to enter the Data Submission Portal of Burmese AI's tasks</p>
        </div>
      </div>
    </a>
    </div>

    <div class="col s6">
        <a href="/">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Financial Transaction Tracker</span>
          <p>Not yet implemented</p>
        </div>
      </div>
    </a>
    </div>


    <div class="col s6">
        <a href="/">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Junior Task 1</span>
          <p>Not yet implemented</p>
        </div>
      </div>
    </a>
    </div>

    
    <div class="col s6">
        <a href="/">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Junior Task 2</span>
          <p>Not yet implemented</p>
        </div>
      </div>
    </a>
    </div>
  </div>
  <!-- Card Section Ends -->
{% endblock %}